:root {
    font-family: arimo;
}



header {
    background-color: rgb(1, 1, 70);
    max-width: 34rem;
}

main {
    max-width: 30rem;
    background-color: #eee;
    margin: 0 auto;
    padding: 0 1rem 0 1rem;
}

img {
    display: block;
    margin: 0 auto;
    padding: 1rem;
}

figcaption {
    text-align: center;
    margin-top: -1rem;
}

footer {
    background-color: rgb(238, 155, 2);
    max-width: 34rem;
    text-align: center;
    color: black;
}

h2 {
    border-top: 2px dotted #000;
    padding-top: 1rem;
}

.topbar {
    display: flex;
    color: #eee;
    font-size: 2rem;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
}

#menu {
    font-size: 2rem;
    border: 0;
    background: none;
    color: #eee;
    /* position: relative;
    top: 1rem;
    right: 1rem; */
    /* float: right; */
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation {
    /* background-color: rgb(1, 1, 70); */
    display: none;
}

/* .navigation li {
    display: none;
} */

.navigation.open {
    display: flex;
    list-style: none;
    flex-direction: column;
    font-size: 3rem;
    text-align: center;
}

.navigation a {
    text-decoration: none;
    color: #eee;
}

.navigation a:hover {
    text-decoration: underline;
    background-color: #eee;
    color: #000;
}

/* I was having a problem where I had a instead of li below. the li below accurately targets
the list of links so it actually will do what is wanted. */

.open li {
    display: block;
}




@media (min-width: 768px) {

    .grid {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .textOne {
        grid-column: span 2;
    }

    h2 {
        border-top: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 60rem;
        margin: 0 auto;
    }

    main {
        max-width: 1000px;
        margin: 0 auto;
        max-width: 58rem;
        /* place-items: center;  */
        background-color: white;
    }


    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        font-size: 2rem;
        gap: 2rem;
        list-style: none;
        
    }

    .navigation li {
        display: block;
    }

    footer {
        max-width: 60rem;
        margin: 0 auto;
    }
}