header {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    background-color: rgb(1, 1, 70);
    color: #eee;
    font-size: 2rem;
    padding: 1rem;
    /* height: auto; */
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin-left: auto;
    display: flex;
    /* text-align: center; */
    flex-direction: column;
    background-color: rgb(1, 1, 70);
}

.navigation {
    /* background-color: rgb(1, 1, 70); */
    display: none;
}

/* .navigation li {
    display: none;
} */

.navigation.open {
    display: flex;
    list-style: none;
    flex-direction: column;
    font-size: 3rem;
    text-align: center;
}

.navigation a {
    text-decoration: none;
    color: #eee;
}

.navigation a:hover {
    text-decoration: underline;
    background-color: #eee;
    color: #000;
}

/* I was having a problem where I had a instead of li below. the li below accurately targets
the list of links so it actually will do what is wanted. */

.open li {
    display: block;
}

#menu {
    font-size: 2rem;
    border: 0;
    background: none;
    color: #eee;
    /* position: relative;
    top: 1rem;
    right: 1rem; */
    /* float: right; */
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

main {
    max-width: 20rem;
    margin: 0 auto;
    grid-template-columns: 1fr;
}

body {
    font-family: "Arimo", sans-serif;
    font-weight: 400;
}

footer {
    grid-column: span 2;
    background-color: rgb(1, 1, 70);
    color: #eee;
    font-size: 1rem;
    padding: 0.5rem;
    height: auto;
}
footer p {
    text-align: center;
    
}