@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    main {
        max-width: 1000px;
        margin: 0 auto;
        /* place-items: center;  */
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
        grid-gap: 1rem;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        font-size: 2rem;
        gap: 2rem;
        list-style: none;
        
    }

    .navigation li {
        display: block;
    }
}